<<<<<<< HEAD
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> b0d9770e90d8509e66ceac4c26030556bd6c4b28
